{% extends 'base.html' %} 
{% load static %} 

{% block head_title %}Banking System{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to Mamar Bank</h1>
        <p class="leading-normal mb-4">
            This is a simple Mamar Bank where you can deposit money, withdraw money, take loan, transfer money. You can also create an account, login, logout. Our user-friendly platform makes managing your finances a breeze.
            <br>
            Join us today to experience hassle-free banking services tailored to your needs. Create an account, log in, and explore the possibilities with Mamar Bank.
            <br>
            We're here to help you achieve your financial goals every step of the way. Welcome aboard!

        </p>
        {% if not request.user.is_authenticated %}
            <div class="flex justify-end w-full">
                <a href="{% url 'register' %}" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
            </div>
        {% endif %}
    </div>
    <div class="w-full lg:w-1/2 lg:py-6 text-center ">
        <img class ="rounded-2xl" src ="{% static './img/bank.jpg' %}"/>
    </div>
</div>

{% endblock %}